#contactus-form {
  /* height: 100%; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.contactus-form-container{
  padding: var(--defaultOverViewSpace);
}


.contactus-form-container > p {
  color: var(--textColor2);
  font-weight: var(--textWeightThin);
  font-size: var(--textSizeNormal);
}


.flex-label {
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postAdMain-photos-field {
  flex: 1;
}

.postAdMain-photos-field-inner {
  display: flex;
  align-items: center;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.postAdMain-photos-field-inner * {
  cursor: pointer;
}
.postAdMain-photos-field-inner > label {
  margin-left: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--textColor3);
  font-weight: var(--textWeightThin);
  font-size: var(--textSizeNormal);
}

.post-ad-textarea{
  width: 100%;
  height: 100px;
  color: var(--textColor2);
  font-weight: var(--textWeightThin);
  font-size: var(--textSizeNormal);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  resize: none;
  margin-bottom: 20px;
}

.post-ad-textarea:focus {
  border-color: var(--primaryThemeColor);
}
.postAdMain-form-field > h3 {
  margin-bottom: 10px;
  color: var(--textColor2);
  font-weight: var(--textWeightBold);
  font-size: var(--textSizeLarge);
}

.postAdMain-buttons-container {
  display: flex;
  justify-content: space-around;
}
.postAdMain-buttons-container > button {
  margin: 0 10px;
}

/* -----------------><---------------- */

@media only screen and (max-width: 360px) {
  .postAdMain-photos-field-inner > input {
    max-width: 60vw;
    margin-left: 5px;
  }
}
