#hotelsContainer {
  --cardWidth: 50vw;
  --cardHeight: 30vw;
  --minCardWidth: 200px;
  --minCardHeight: 140px;
  
  
  position: relative;
  --cardButtonHorizontalSpace: -50px;

  padding: var(--defaultOverViewSpace);
  overflow: hidden;
  z-index: 1;
}

#col {
  position: relative;
  height: var(--cardHeight);
  min-height: var(--minCardHeight);
}
#col:before,
#col:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#col:after {
  left: auto;
  right: 0;
}

#cardsSlider {
  position: relative;
  width: var(--cardWidth);
  min-width: var(--minCardWidth);
  margin: 0 auto;
}

#cardsSlider > .imageButtons {
  --cardButtonSize: 30px;
  width: var(--cardButtonSize);
  height: var(--cardButtonSize);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, 0.1);
  top: calc(var(--cardHeight) / 2 - var(--cardButtonSize) / 2);
  z-index: 1;
}
#cardLeftButton {
  left: var(--cardButtonHorizontalSpace);
}
#cardRightButton {
  right: var(--cardButtonHorizontalSpace);
}

#cardsSliderWrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* -----------------><--------------- */
@media only screen and (max-width: 700px) {
  #hotelsContainer {
    --cardWidth: 70vw;
    --cardHeight: 40vw;
  }
}
@media only screen and (max-width: 500px) {
  #hotelsContainer {
    --cardWidth: 75vw;
    --cardHeight: 50vw;
  }
  #hotelsContainer {
    --cardButtonHorizontalSpace: -15px;
  }
}

/* @media only screen and (max-width: 411px) {
  #cardsSlider > .imageButtons {
    top: calc(var(--minCardHeight) / 2 - var(--cardButtonSize) / 2);
  }
} */