.chatCredentials-container {
  --chatCredentialsPadding: 5px;
  display: flex;
  height: var(--tabsHeight);
  padding: var(--chatCredentialsPadding) 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chatCredentials-container > img {
  width: calc(var(--tabsHeight) - (var(--chatCredentialsPadding) * 2));
  height: calc(var(--tabsHeight) - (var(--chatCredentialsPadding) * 2));
  border-radius: 1000px;
  background-color: lightgrey;
  margin-right: 10px;
}

.chatCredentials-details-container {
  display: flex;
  flex: 1;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: space-between;
}

.chatCredentials-details {
  display: flex;
  justify-content: space-between;

  color: var(--textColor3);
  font-size: var(--textSizeNormal);
  font-weight: var(--textWeightThin);
}

.chatCredentials-details > label {
  color: var(--textColor2);
  font-weight: var(--textWeightBold);
}

.chatMain-container #chatCredentials-back-icon {
  display: none;
}
#chatCredentials-back-icon:active{
  transform: scale(0.9);
}

/* @media only screen and (max-width: 900px) { */
  .chatMain-container-900px #chatCredentials-back-icon {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: var(--textSizeXLarge);
    display: none;
    cursor: pointer;
  
    display: block;
  }
/* } */
