#navbar-search-button {
  background-color: var(--bgColor1);
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 30px;
  height: 35px;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}

#navbar-search-button * {
  cursor: pointer;
}

#navbar-search-button > label {
  color: var(--textColor3);
  font-size: var(--textSizeNormal);
  font-weight: var(--textWeightThin);
}

.navbar-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.navbar-flex > label{
    color: var(--bgColor1);
    font-size: var(--textSizeLarge);
    font-weight: var(--textWeightBold);
    text-decoration: underline;
}


/* ------------------><----------------- */
.searchbar-fade-enter {
  opacity: 0;
  transform: translateY(40%);
}
.searchbar-fade-enter-active {
  opacity: 1;
  transform: translateY(0%);
}
.searchbar-fade-exit {
  opacity: 1;
  transform: translateY(0%);
}
.searchbar-fade-exit-active {
  opacity: 0;
  transform: translateY(40%);
}
.searchbar-fade-enter-active,
.searchbar-fade-exit-active {
  transition: opacity 300ms, transform 300ms;
}

/* @media only screen and (max-width: 1100px) {
} */
@media only screen and (max-width: 604px) {
  #headingLeft {
    display: none;
  }
}
