#scrollViewContainer {
  display: flex;
  position: relative;
  margin-top: 60px;
  align-items: center;
  overflow: hidden;
  border-bottom: 10px solid lightgray;
}

#scrollViewContainer > #scrollView {
  display: inline-flex;

  animation: moveSlideshow 100s linear infinite;
  z-index: 0;
}

.animated-pic {
  width: 40vw;
  height: 25vw;
  object-fit: fill;
}

@keyframes moveSlideshow {
  50% {
    -ms-transform: translateX(calc(-100% + 100vw));
    -webkit-transform: translateX(calc(-100% + 100vw));
    -moz-transform: translateX(calc(-100% + 100vw));
    -o-transform: translateX(calc(-100% + 100vw));
    transform: translateX(calc(-100% + 100vw));
  }
  100% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* -----------------><------------------- */
@media only screen and (max-width: 700px) {
  .animated-pic {
    width: 60vw;
    height: 38vw;
  }
}
@media only screen and (max-width: 500px) {
  .animated-pic {
    width: 80vw;
    height: 50vw;
  }
}
